/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: monospace;
  background-color: rgba(78, 134, 199, 0.658);
}

header {
  width: 100%;
  background-color: rgb(78, 134, 199);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 8vw;
  /* font-weight: bold; */
  font-family: monospace;
}

header .sign-in-button a {
  font-size: 18px;
  font-family: monospace;
  margin: 30px;
  display: flex;
  justify-self: space-between;
  background-color: rgba(73, 103, 139, 0.925);
  padding: 10px;
  border-radius: 2px;
  color: aliceblue;
}
